@page
@model M_CNC_G_Code_WebApp.Pages.Pages_OD
@{
    ViewData["Title"] = "Outside Diameter";
}

<div><h3>Outside Diameter</h3></div>
<div>
    <label for="material">Choose a Material:</label>
    <select name="material" id="materialOD">
        <option value="1">Stainless</option>
        <option value="2">Mild Steel</option>
        <option value="3">Aluminium</option>

    </select>
    
    <label for="Partno"> Part Number</label>
    <input type="text" id="partno" />


</div>
<div id="table">
<table class="table table-bordered" style="display: inline">
    <thead>
        <tr>
            <th scope="col">Identifier</th>
            <th scope="col">How to calculate</th>
            <th scope="col">X Value</th>
            <th scope="col">Z Value</th>
            <th scope="col">Angle A Value</th>
            <th scope="col">R Value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Rapid Point</th>
            <td>X=Bore Size -1mm. Z=1.0mm</td>
            <td><input type="number" id="ODxValueRP" step="0.01" /></td>
            <td>1.0</td>
            <td>N/A</td>
            <td>N/A</td>

        </tr>
        <tr>
            <th scope="row">OD Start</th>
            <td>x=Rapid point, Z=feed to z0.0</td>
            <td>N/A</td>
            <td>0.0</td>
            <td>N/A</td>
            <td>N/A</td>

            
        </tr>
        <tr>
            <th scope="row">Intersection 1</th>
            <td>(Unknown X) Prog ,A90</td>
            <td>N/A</td>
            <td>N/A</td>
            <td>90</td>
            <td>0.2</td>
           
        </tr>
        <tr>
            <th scope="row">Intersection 2</th>
            <td>Prog angle ,A and enter target X and Z values</td>
            <td><input type="number" id="ODxValueI2" step="0.01" /></td>
            <td>-<input type="number" id="ODzValueI2" step="0.01"  /></td>
            <td><input type="number" id="ODaValueI2" step="0.01" min="0" max="360" /></td>
            <td>N/A</td>
          
        </tr>
        <tr>
            <th scope="row">Intersection 3</th>
            <td>Work out Z figure from drawing intersection point</td>
            <td>N/A</td>
            <td><input type="number" id="ODzValueI3" step="0.01" /></td>
            <td>N/A</td>
            <td>N/A</td>

        </tr>
        <tr>
            <th scope="row">Intersection 4</th>
            <td>Prog angle ,A (work out incremental move U value) </td>
            <td>U-<input type="number" id="ODxValueI4" step="0.01"/></td>
            <td>N/A</td>
            <td><input type="number" id="ODaValueI4" step="0.01" min="0" max="360" /></td>
            <td>N/A</td>

        </tr>
        <tr>
            <th scope="row">Intersection 5</th>
            <td>Z=Part length + 1mm</td>
            <td>N/A</td>
            <td>-<input type="number" id="ODzValueI5" step="0.01" /> </td>
            <td>N/A</td>
            <td>N/A</td>

        </tr>
        <tr>
            <th scope="row">OD End</th>
            <td>Main OD + 1mm</td>
            <td><input type="number" id="ODxValueODE" step="0.01"  /> </td>
            <td>N/A</td>
            <td>N/A</td>
            <td>N/A</td>
        </tr>
    </tbody>
</table>
    
</div>
<div>
    <p>
        Notes;
Incremental Moves X = U Z = W
** Remember that radial values are doubled to remove correct amount from diameter
E.G step value on OD = 0.15 therefore the U value would be doubled + or - 
Standard break edges are programmed at R0.2mm
    </p>
</div>


<a href="#" id="GCodeOD" class="btn btn-secondary" data-toggle="modal" data-target=".bd-example-modal-sm">Save This Section</a>


 <a class="btn btn-secondary" id="ODContinue" style="visibility: hidden" asp-area="" asp-page="/ID">Continue</a>


<script src="~/js/OD.js" asp-append-version="true"></script>